[submodule "fuel/core"]
	path = fuel/core
	url = https://github.com/fuel/core.git
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = https://github.com/fuel/oil.git
[submodule "fuel/packages/multibyte"]
	path = fuel/packages/multibyte
	url = git@github.com:chrismeller/multibyte.git
[submodule "fuel/app/vendor/ventureloop"]
	path = fuel/app/vendor/ventureloop
	url = git@github.com:chrismeller/ventureloop.git
